<!doctype html>
<html>
  <head>
    {{> head}}
    <title>{{title}}</title>
  </head>
  <body>
    <div class="site-wrapper">
      {{> navbar}}
      <div class="landing-banner landing-banner--dashboard" id="bg-img">
        <div class="{{containerClass}}">
          {{{body}}}
        </div>
      </div>
    </div>
  </body>
</html>
